.cartDrawer {
  .ant-drawer {
    display: flex;
    align-self: center;
    justify-content: center;
    &-header {
      background: #3e2f5b;
    }
    &-title {
      color: white;
    }
    &-close {
      color: white;

      &:hover {
        color: lightgray;
      }
    }
  }
  .buy-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
