.chat-button {
  .ant-avatar {
    position: fixed;
    right: 30px;
    bottom: 45px;
    background-color: #3e2f5b;
    box-shadow: 2px 2px 5px gray;
    &:hover {
      -webkit-transition: background-color ease-out 0.3s;
      -o-transition: background-color ease-out 0.3s;
      transition: background-color ease-out 0.3s;
      background-color: #4d3a72;
    }
  }
}
